footer {
    flex-direction: column;
    background-color: #2C2B2B;
    padding: 20px;
}

footer p{
    color: white;
    text-align: center

}

footer ul{
    justify-content: center;
    margin: -10px 0;
}

footer li {
    list-style: none;
    margin: 20px;
    font-size: 30px;
    color: #1BDE87;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
